html {
  margin-left: 0;
}

body {
  background-color: black;
  overflow-x: hidden;
}

/* @media (max-width: @screen-xs) {
    #right{
      margin-top: 30vw;
    }

}

@media (max-width: @screen-sm) {
    p{font-size: 2em;}

}

@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
} */

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
/* @media screen and (max-width: 600px) {
  #right{
    margin-top: 300%;
  },
  p {
    font-size: 3px;
    color: white;
  }

} */

p {
  color: white;
  text-align: inherit;
  word-break: break-all;
  margin-left: -430px;
  position: absolute;
  left: auto;
  align-items: center;
  justify-content: center;
  text-align: justify !important;
}

.hidden {
  color: black;
}

.navbar {
  background-image: url("./assets/img/creepy.png");
  background-position: 0 -80, top;
}

#home {
  width: 80px;
  height: 80px;
}

.test {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* #left {
  height: 100%;
}

#right{
  width: 100%;
  height: 100%;
} */
